### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
data = ".//Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(data)
#print(df)

## Player Count

* Display the total number of players

In [2]:
##prep data- hold them in variables
#hold unique names in a dataframe
players = df['SN'].unique()

#counts each unique school to return total school
player_count = len(players)
#print(player_count)
summary = pd.DataFrame({
    
    "Total Players": [player_count]

})
print(summary)

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# create variables for unique items, avg price, number of purchases, and total revenue
items = df["Item ID"].nunique()
avg_price = df["Price"].mean()
n_purch = df["Purchase ID"].nunique()
revenue = df.Price.sum()

# Create df from the above variables
purchase_sum = pd.DataFrame({"Number of Unique Items": [items],
                              "Average Price": [avg_price],
                              "Number of Purchases": [n_purch],
                              "Total Revenue": [revenue]})

# Format
pd.options.display.float_format = '${:,.2f}'.format

# Display df
purchase_sum

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179          $3.05                  780      $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# create variables to hold percentages of the sex of players
total_gender = df["Gender"].value_counts()
sum_total=df["Gender"].count()

pct_gender = total_gender / sum_total
#put variables into dataframe
gender= pd.DataFrame({"Percentage of Players": pct_gender, "Total Count": total_gender})

#format pct--if left to it's own devices, "percentage of players" identifies as a currency data type- don't we all, though?
gender.style.format({
    "Percentage of Players":"{:.1%}"
})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Calculations
gender_count = df.groupby(["Gender"]).count()["Price"].rename("Purchase Count")
gender_avg = df.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
gender_purchases = df.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
overall_avg_spent = gender_purchases / player_count

# Create df
gender_summ = pd.DataFrame({"Purchase Count": gender_count, "Average Purchase Price": gender_avg, "Total Purchase Value": gender_purchase_total, "All Gender per Person Spent": overall_avg_spent})

# Format
#no formatting needs found


# Display df
gender_summ

,Purchase Count,Average Purchase Price,Total Purchase Value,All Gender per Person Spent
Gender,,,,
Female,113,$3.20,$361.94,$0.63
Male,652,$3.02,"$1,967.64",$3.42
Other / Non-Disclosed,15,$3.35,$50.19,$0.09

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
# Age bins
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize players using age bins
df["Age Ranges"] = pd.cut(df["Age"], bins, labels = labels)

# Calculations
totals = df["Age Ranges"].value_counts()
pct = totals / player_count 

# Create df
ages = pd.DataFrame({"Total Purchase Count": totals, "Percentage of Players": pct})

#format 
ages.style.format({
    "Total Purchase Count":'{:,}',
    "Percentage of Players":'{:.1%}'
                  })

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
# bins!
df["Age Ranges"] = pd.cut(df["Age"], bins, labels = labels)

# Calculations
counts = df.groupby(["Age Ranges"]).count()["Price"].rename("Purchase Count")
total_purch = df.groupby(["Age Ranges"]).sum()["Price"].rename("Total Purchase Value")
age_avg = df.groupby(["Age Ranges"]).mean()["Price"].rename("Average Purchase Price")
overall = total_purch / player_count


# Create df
age_sum = pd.DataFrame({"Purchase Count": counts, "Average Purchase Price": age_avg, "Total Purchase Value": total_purch, "Overall Percentage Purchase": overall})

# Format
age_sum.style.format({
    "Purchase Count":'{:,}',
    "Average Purchase Price":'${:,.2f}',
    "Total Purchase Value":'${:,.2f}',
    "Overall Percentage Purchase":'{:.1%}'
                  })

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
# it puts the calculations in the variables, or else it gets an Err Message again!
users = df.groupby(["SN"]).count()["Price"].rename("Purchase Count")
avg = df.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
total = df.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")

# Create df
user_summ = pd.DataFrame({"Purchase Count": users, "Average Purchase Price": avg, "Total Purchase Value": total})

# Sort total purchase value (descending order)
user_sort = user_summ.sort_values("Total Purchase Value", ascending = False)

# Format--went wonky giving me 10 decimals, prints out fine without the format
user_sort.head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                   $3.79                $18.96
Idastidru52               4                   $3.86                $15.45
Chamjask73                3                   $4.61                $13.83
Iral74                    4                   $3.41                $13.62
Iskadarya95               3                   $4.37                $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [14]:
# Retrieve the Item ID, Item Name, and Item Price columns
pop_item = df.loc[:,["Item ID", "Item Name", "Price"]]

# Calculations and groupby
count_purch = pop_item.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")
item_price = pop_item.groupby(["Item ID", "Item Name"]).mean()["Price"]
purch_total = pop_item.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")

# Create df
item_data_pd = pd.DataFrame({"Purchase Count": count_purch, "Item Price": item_price, "Total": purch_total})

# Sort purchase count (descending order)
item_sort = item_data_pd.sort_values("Purchase Count", ascending = False)


# Format
item_sort.style.format({
    "Purchase Count":'{:,}',
    "Item Price":'${:,.2f}',
    "Total":'${:,.2f}'
                  })

# Display df
item_sort.head(5)

,,Purchase Count,Item Price,Total
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [16]:
# Sort above df by total purchase value (descending order)
item_val = item_sort.sort_values("Total", ascending = False)

# Format
item_val.style.format({
    "Purchase Count":'{:,}',
    "Item Price":'${:,.2f}',
    "Total":'${:,.2f}'
                  })
# Display df
item_val.head(5)

,,Purchase Count,Item Price,Total
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80